<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="bg-black">
    <!-- Navbar -->
    <div id="navbar-placeholder"></div>
    <!--  -->
    <section class="mx-auto">
      <div
        class="circle-container mb-12 flex flex-col gap-4 space-y-0 pt-12 md:flex-row md:space-y-0"
      >
        <div class="circle-container-item mb-4 md:mb-0">
          <div class="circle">
            <img
              src="../images/cat2.jpg"
              alt="Person 1"
              class="circle-image object-cover"
            />
            <a href="http://127.0.0.1:5000//">Go to Upload Page</a>
          </div>
          <br />
          <div class="caption">
            <h3 class="font-Koulen text-xl text-textColor">Aayushman Garg</h3>

            <p>AI</p>
          </div>
        </div>
        <div class="circle-container-item mb-4 md:mb-0">
          <div class="circle">
            <img src="../images/cat1.jpg" alt="Person 2" class="circle-image" />
          </div>
          <br />

          <div class="caption">
            <h3 class="font-Koulen text-xl text-textColor">Pallavi Sinha</h3>
            <p class="font-Outfit">Website</p>
          </div>
        </div>
        <div class="circle-container-item mb-4 md:mb-0">
          <div class="circle">
            <img src="../images/cat3.jpg" alt="Person 3" class="circle-image" />
          </div>
          <br />

          <div class="caption">
            <h3 class="font-Koulen text-xl text-textColor">Vedant Arora</h3>
            <p class="font-Outfit">AI</p>
          </div>
        </div>
      </div>
    </section>
    <!--  -->
    <!-- Footer -->

    <div id="footer-placeholder"></div>

    <script src="../js/script.js"></script>
  </body>
</html>
