<hr />
<section id="footer">
  <div
    class="mx-auto max-w-screen-xl space-y-8 overflow-hidden px-4 pt-4 sm:px-6 lg:px-8"
  >
    <nav
      class="text-bold -mx-5 -my-4 flex flex-wrap justify-center font-Outfit text-xl text-textColor"
    >
      <div class="px-5 py-2">
        <a
          href="http://127.0.0.1:5500/views/about-us.html"
          class="text-base leading-6 hover:text-SecondaryBG"
        >
          About Us
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="http://127.0.0.1:5500/views/index.html"
          class="text-base leading-6 hover:text-SecondaryBG"
        >
          Home
        </a>
      </div>
      <div class="px-5 py-2">
        <a
          href="http://127.0.0.1:5000/"
          class="text-base leading-6 hover:text-SecondaryBG"
        >
          Upload
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#" class="text-base leading-6 hover:text-SecondaryBG">
          Learn more
        </a>
      </div>
    </nav>

    <p class="text-center font-Outfit text-base text-textColor">
      © PsyFer . All rights reserved.
    </p>
  </div>
</section>
